<form class="w-[330px] h-fit mt-10 p-5 mx-auto">
  <h1 class="text-3xl font-mono text-center capitalize">sign in</h1>

  <section class="mt-10 bg-gray-100 rounded-lg p-5">
    <div class="w-[100%] mx-auto">
      <label for="email" class="text-xs capitalize">email address</label>
      <input
        type="email"
        name="email"
        id="user-email"
        class="w-[100%] text-xs border px-2 py-2 rounded-lg outline-green-300"
        autocomplete="off"
      />
      <span
        id="emailError"
        class="text-[12px] font-semibold text-red-500"
      ></span>
    </div>
    <div class="w-[100%] mx-auto">
      <label for="password" class="text-xs capitalize">password</label>
      <input
        type="password"
        name="password"
        id="user-password"
        class="w-[100%] text-xs border px-2 py-2 rounded-lg outline-green-300"
      />
      <span
        id="passwordError"
        class="text-[12px] font-semibold text-red-500"
      ></span>
    </div>
    <button
      class="w-full text-xs text-center my-2 text-white font-mono capitalize rounded-lg py-2 bg-green-600"
    >
      sign in
    </button>
  </section>
</form>
<section class="border bg-gray-50 w-[290px] h-fit mx-auto rounded-lg">
  <p class="text-center text-xs text-gray-700 my-2">
    Don't have account ?
    <a href="/signup" class="text-xs underline text-blue-400"> Sign up</a>
  </p>
</section>
<script>
  const form = document.querySelector("body > form");
  const button = document.querySelector("body > form > section > button");
  const emailError = document.querySelector("#emailError");
  const passwordError = document.querySelector("#passwordError");
  const inputPassword = document.querySelector("#user-password");
  const inputEmail = document.querySelector("#user-email");
  form.addEventListener("submit", async (e) => {
    e.preventDefault();
    inputPassword.classList.remove("border-red-500");
    inputEmail.classList.remove("border-red-500");
    emailError.textContent = "";
    passwordError.textContent = "";
    const email = form.email.value;
    const password = form.password.value;
    button.classList.remove("bg-green-600");
    button.classList.add("bg-green-300");
    button.textContent = "logging your account ......";
    try {
      const res = await fetch("/signin", {
        method: "POST",
        body: JSON.stringify({ email, password }),
        headers: { "Content-Type": "application/json" },
      });
      const data = await res.json();
      console.log(data);
      if(data){
        button.classList.remove("bg-green-300");
        button.classList.add("bg-green-600");
        button.textContent = "sign in";
      }
      if(data.errors){
        if(data.errors.email){
          inputEmail.classList.add("border-red-500");
          emailError.textContent = data.errors.email;
        }
        if(data.errors.password){
            inputPassword.classList.add("border-red-500");
            passwordError.textContent = data.errors.password;
        }
      }
    } catch (error) {
      console.log(error);
    }
  });
</script>
